.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    max-width: 1440px;
    margin: auto;
}

.main-container {
    padding-top: 55px;
}

.main-card.green {
    background: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff);
}


.main-card {
    width: 300px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #212529;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
    margin: 20px 25px;
    cursor: pointer;
    transition: .3s;
}

.main-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid #fff;
    object-fit: cover;
    margin: 30px auto;
}

.menuToggle {
    top: 11px;
    left: 0;
    z-index: 3;
    user-select: none;
}

.menu.green {
    background: linear-gradient(40deg,#00bf82,#0099ae);
}

nav {
    position: relative;
}


.menuToggle, .menuToggle input {
    display: block;
    position: absolute;
}

.menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: calc(100vh + 20px);
    margin: -100px 0 0;
    padding: 125px 50px 50px;
    left: calc(675px - 50vw);
    background: linear-gradient(40deg,#ffd86f,#fc6262);
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%);
    transition: transform .5s cubic-bezier(.77,.2,.05,1);
    top: 49px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    max-width: 1350px;
    margin: 40px auto 0;
}

.menuToggle span,.menuToggle span::before,.menuToggle span::after {
    position: absolute;
    display: block;
    top: 10px;
    width: 20px;
    height: 2px;
    background-color: black;
    left: 8px;
    transition: 0.5s;
    z-index: 1;
}

.menuToggle span::before,.menuToggle span::after {
    content: '';
    left: 0;
    transition: 0.5s;
    transform-origin: left;
}

.menuToggle span::before {
    top: -7px;
}

.menuToggle span::after {
    top: 7px;
}

.menuToggleActive span::before {
    transform: rotate(45deg);
}

.menuToggleActive span::after {
    transform: rotate(-45deg);
}

.menuToggleActive span {
    height: 0;
}

.menuToggle input {
    width: 40px;
    height: 32px;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    max-width: 1350px;
    margin: 40px auto 0;
}

.header-item {
    padding: 10px 0;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 60px;
    color: #fff;
    min-width: 145px;
    text-align: left;
}

.header-item.active {
    text-decoration: underline;
}

.menuActive {
    transform: translate(0);
}

.switch {
    position: absolute;
    right: 60px;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 40px;
    padding: 3px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 -1px #fff, inset 0 1px 1px rgba(0,0,0,.05);
    cursor: pointer;
    background-image: linear-gradient(180deg,#eee,#fff 25px);
}

.switch-input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    background: linear-gradient(40deg,#00bf82,#0099ae);
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.12), inset 0 0 2px rgba(0,0,0,.15);
    transition: .15s ease-out;
    color: white;
}

.switch-label::before {
    content: 'train';
    margin-left: 5px;
}

.switch-label::after {
    content: '';
}

.switch-label-play::before {
    content: '';
}

.switch-label-play::after {
    content: 'play';
    margin-left: 60px;
}

.switch-handle {
    position: absolute;
    top: 6px;
    left: 84px;
    width: 33px;
    height: 33px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    background-image: linear-gradient(180deg,#fff 40%,#f0f0f0);
    transition: left .15s ease-out;
}

.switch-label-play {
    background: linear-gradient(40deg,#ffd86f,#fc6262);
}

.switch-handle-active {
    left: 6px;
}